<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Yetkilendirme12M.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <userSettings>
    <Yetkilendirme12M.Properties.Settings>
      <setting name="BirikimConnectionString" serializeAs="String">
        <value>Data Source=TESTSERVER; Initial Catalog=BIRIKIM;Persist Security Info=True;User ID=sa;Password=Birikim12</value>
      </setting>
    </Yetkilendirme12M.Properties.Settings>
  </userSettings>
</configuration>